# Operating System Files
.DS_Store
Thumbs.db
*.DS_Store
.cph/

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
**/yolov8_env/
*env/

# Large Media Files (exceeding GitHub's 100MB limit)
*.mp4

# Dataset Images & Labels (Roboflow dataset)
temp.v5-dataset.yolov12/train/
temp.v5-dataset.yolov12/valid/
temp.v5-dataset.yolov12/test/
